<nav>
    <div class="site-title">
      <a href="/"><h1>Books Stores</h1></a>
      
    </div>
    <ul>
      <li><a href="/books">List of Books</a></li>
      <li><a href="/addbooks">Order Books</a></li>
      <!-- <li><a href="/update/:id">Update President</a></li> -->
      <!-- <li><a href="/delete/:id">Delete President</a></li> -->
    </ul>
  </nav>