<!DOCTYPE html>
<html lang="en">
  <%-include("./partials/head.ejs")%>
<body>
  <%-include("./partials/nav.ejs")%>
  
  <div class="home">
     <p>welcome to your local bookstore</p>
  </div>
  
  
<div class="foot">
  <%-include("./partials/footer.ejs")%>
</div>
</body>
</html>