<!DOCTYPE html>
<html lang="en">
  <%-include("./partials/head.ejs")%>
<body>
  <%-include("./partials/nav.ejs")%>
  
  <div class="hometext">
     <p>welcome to your local bookstore</p>

     <img class="homeimage" src="/us-logo.jpg" alt="">
  </div>
  
  
  
<div class="foot">
  <%-include("./partials/footer.ejs")%>
</div>
</body>
</html>