<!DOCTYPE html>
<html lang="en">
  <%-include("./partials/head.ejs")%>
<body>
  <%-include("./partials/nav.ejs")%>
  
  <div class="hometext">
     <p>welcome to your local bookstore</p>

     <img class="homeimage" style="width: 70rem; left: 600px;" src="/gilles-detot-SHtNHN7TgJw-unsplash.jpg" alt="">
  </div>
  
<div class="foot">
  <%-include("./partials/footer.ejs")%>
</div>
</body>
</html>