@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap');
body {
  max-width: 1200px;
  margin: 20px auto;
  padding: 0 20px;
  font-family: 'Noto Serif', serif;
  max-width: 1200px;
}


ul {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: #222;
}

/* nav & footer styles */
nav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ddd;
  text-transform: uppercase;
}

nav ul {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

nav li {
  list-style-type: none;
  margin-left: 20px;
}

nav h1 {
  font-size: 3em;
}

nav p,
nav a {
  color: #777;
  font-weight: 300;
}

footer {
  color: #777;
  text-align: center;
  margin: 80px auto 20px;
}

h2 {
  margin-bottom: 40px;
}

h3 {
  text-transform: capitalize;
  margin-bottom: 8px;
}

.content {
  margin-left: 20px;
}

/* index styles */

/* details styles */

/* create styles */
.create-employee form {
  max-width: 400px;
  margin: 0 auto;
}

.create-employee input,
.create-employee textarea {
  display: block;
  width: 100%;
  margin: 10px 0;
  padding: 8px;
}

.create-employee label {
  display: block;
  margin-top: 24px;
}

textarea {
  height: 120px;
}

.create-employee button {
  margin-top: 20px;
  background: crimson;
  color: white;
  padding: 6px;
  border: 0;
  font-size: 1.2em;
  cursor: pointer;
}

.delete {
  position: absolute;
  top: 250px;
  right: 250px;
  border: solid;
  border-radius: 100%;
  padding: 8px;
}

.delete:hover {
  cursor: pointer;
  box-shadow: 1px 2px 3px rgba(red, green, blue, alpha)
}

.edit {
  position: absolute;
  top: 250px;
  right: 100px;
  border: solid;
  border-radius: 100%;
  padding: 8px;
}

.edit:hover {
  cursor: pointer;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0)
}

.hometext {

  text-align: center;

 -webkit-text-fill-color: brown;

 font-size: x-large;

 
}

.foot{
  padding-top: 500px;
}

